@model PagedList.IPagedList<Models.EF.Order>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
@section header{
    ORDER}
@section jsFooter{
    <script src="~/Assets/Admin/js/controller/orderController.js"></script>
}
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
        <input type="text" class="form-control bg-light border small" placeholder="Search for..." name="searchString" value="@ViewBag.SearchString"
               aria-label="Search" aria-describedby="basic-addon2" />
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
<hr>
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Order List</h6>
                </div>
                @using (Html.BeginForm("Index", "Order", FormMethod.Get))
                {
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Customer Name
                                        </th>
                                        <th>
                                            Phone Number
                                        </th>
                                        <th>
                                            Address
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Total
                                        </th>
                                    
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @(item.CreatedDate.HasValue? @item.CreatedDate.Value.ToString("dd/MM/yyyy") : "")
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ShipName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ShipMobile)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ShipAddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ShipEmail)
                                            </td>
                                            <td>
                                                @string.Format(info, "{0:#,#} VND", item.Total)
                                            </td>
                                          
                                            <td>
                                                @Html.ActionLink("Details", "Details", new { id = item.ID }) 
                                                <!-- Ajax.ActionLink("Delete", "Delete", new { id = item.ID }, new AjaxOptions
                                             {
                                                 Confirm = "Delete this Order?",
                                                      OnComplete = "$('#row_" + item.ID + "').hide()",
                                                 HttpMethod = "Delete"
                                             })
    -->
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
                                </tfoot>
                            </table>
                        </div>
                    </div>
                }
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

</div>
