@model IEnumerable<Models.EF.GetRevenueStatistic_Result>

@{
    ViewBag.Title = "GetRevenueStatistics";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>GetRevenueStatistics</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Revenues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Benefit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Revenues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Benefit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
