@{
    var listFeatureProducts = (List<Models.EF.Product>)ViewBag.FeatureProducts;
}
    <div class="sidebar_widget">
        <div class="widget-title"><h2>Popular Products</h2></div>
        <div class="widget-content">
            <div class="list list-sidebar-products">
                <div class="grid">
                    @foreach (var item in listFeatureProducts)
                    {
                        var url = "/details/" + item.MetaTitle + "-" + item.ID;
                        <div class="grid__item">
                            <div class="mini-list-item">
                                <div class="mini-view_image">
                                    <a class="grid-view-item__link" href="@url">
                                        <img class="grid-view-item__image" src="@item.Image" alt="@item.Name" />
                                    </a>
                                </div>
                                <div class="details">
                                    <a class="grid-view-item__title" href="#">@item.Name</a>
                                    <div class="grid-view-item__meta"><span class="product-price__price"><span class="money">@(item.Price.HasValue ? item.Price.Value.ToString("N0"):"Contact")</span></span></div>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
